#button-wrapper {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #roll-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #eee;
        border-radius: 5px;
        
        &:hover {
            border-color: rgb(7, 218, 229);

        }
        img {
            max-height: 384px;
            cursor: pointer;
        }
    }

    p {
        margin-top: -75px;
        min-height: 1.75em;
        text-transform: capitalize;
        font-size: 1.75em;
    }

    button {
        margin-top: 40px;
        min-height: 2em;
        font-size: 1em;
    }
}