#button-wrapper {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #roll-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 6px solid #eee;
        border-radius: 5px;
        background-color: #374554;
        
        &:hover {
            border-color: rgb(7, 218, 229);

        }
        img {
            max-height: 450px;
            cursor: pointer;
            height: 50vh;
        }

        &.winner {
            --test: #374554;
            --black: #4a4a4a;

            --angle: 0deg;
            // border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
            border-image: conic-gradient(from var(--angle), 
                rgb(164 222 251), 
                rgb(164 222 251), 
                var(--test),
                var(--black),
                var(--test),
                rgb(164 222 251), 
                rgb(164 222 251), 
                var(--test),
                var(--black), 
                var(--test),
                rgb(164 222 251), 
                rgb(164 222 251), 
                var(--test),
                var(--black), 
                var(--test),
                rgb(164 222 251), 
                rgb(164 222 251), 
                var(--test),
                var(--black),
                var(--test),
                rgb(164 222 251)) 1;
            animation: 4s rotate linear infinite;

            @keyframes rotate {
                to {
                    --angle: 360deg;
                }
            }

            
        }
    }


    p {
        margin-top: -75px;
        min-height: 1.75em;
        text-transform: capitalize;
        font-size: 1.75em;
        pointer-events: none;
    }

    button {
        margin-top: 40px;
        min-height: 2em;
        font-size: 1.3em;

        &:hover {
            border-bottom: 2px solid white;
            padding-bottom: 0;
            padding-top: 2px;
        }
    }
    
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}