@tailwind base;
@tailwind components;
@tailwind utilities;

.character-tile {
    height: 8em;
    width: 8em;
    background-color: azure;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
    }
}
