.character-tile {
    height: 8em;
    width: 8em;
    background-color: azure;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    cursor: pointer;

    p {
        text-align: center;
        text-transform: capitalize;
        font-size: 1.1em;
        font-weight: 600;
    }
}
