#display-wrapper {
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 5em;
}

.multi-display {
    background-color: gray;
    height: 70vh;
    overflow: auto;
    scrollbar-gutter: stable;
    width: 33vw;
    min-width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 1em;
        font-size: 1.1em;
        text-align: center;
    }
}

#tab-wrapper {
    display: flex;

    section {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

#reset {
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(157, 19, 19);
    border-radius: 5px;
    cursor: pointer;
    margin-top: -2em;
    height: 2.5em;

    &:hover {
        background-color: rgb(209, 12, 12);
    }
}

.display-tab {
    background-color: rgb(83, 83, 83);
    height: 5vh;
    width: 12vw;
    min-width: 100px;
    cursor: pointer;
}

.left {
    border-radius: 5px 0px 0px 0px;

    
}

.right {
    border-radius: 0px 5px 0px 0px;
}

.active {
    background-color: gray;
    cursor: default;
}

.display-header {
    position: sticky;
    top: 0;
    width: 95%;
    text-align: center;
    background: inherit;
    font-size: 2.5em;
    font-weight: 500;
    border-bottom: 1px solid white;
}

.tile-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}