@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 20, 20, 20;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
#page-title {
  font-size: 4em;
  font-family: auto;
  text-align: center;
}

#subtitle {
  font-size: 2em;
  font-family: auto;
  margin-top: -20px;

}

footer {
  margin-top: 5em;
  margin-bottom: 1em;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
    img {
      width: 1.75em;
      margin-right: 5px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

}